/** Single Post */
.single-post .hide {
    display: none;
} 

/** Single Pagination */
.aquila-single-pagination {
    display: flex;
    justify-content: space-between;
}
.aquila-single-pagination a {
    background-color: #F8F9FA;
    border: 1px solid #6c757d;
    border-radius: .2rem;
    color: rgba( 0, 0, 0, .5 );
    margin: .3rem;
    padding: .5rem 1rem;
    text-align: center;
}

/** Post Pagination */
.page-numbers > span {
    background-color: F8F9FA;
    color: #212529;
}
.page-numbers.current > span {
    background-color: #17A2B8;
    color: #FFFFFF;

}
.aquila-post-pagination .page-numbers.prev,
.aquila-post-pagination .page-numbers.next {
    border: 1px solid #6c757d;
    border-radius: .25rem;
    color: #212529;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: .5rem;
    margin-right: .5rem;
    padding: .375rem .75rem;
    text-align: center;
    vertical-align: middle;
}